!!! XML
!!! Strict
%html{ 'xml:lang' => 'en', :lang => 'en', :xmlns => 'http://www.w3.org/1999/xhtml' }
  %head
    %meta{ :content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-type' }/
    %meta{ :content => 'en-us', 'http-equiv' => 'Content-Language' }/
    %meta{ :name => 'author', :content => 'Steve Sloan' }/

    %title= 'Comics'
    - for comic in Comics.values
      %link{ :rel => 'alternate', :type => 'application/rss+xml', :title => comic.name, :href => '#{host_url}/comics/#{comic.short_name}.rss' }/

  %body
    = yield
