<div class="post{% if forloop.first %} first{% endif %}">
  <div class="post-title"><h1><a href="{{post.url}}">{{ post.title }}</a></h1></div>
  <p class="auth">Posted by {{ post.author }},
    <span class="typo_date" title="{{ post.date | date: '%Y/%m/%d' }}">{{ post.date | date '%b. %d, %Y' }}</span></p>
  <div class="post-body">
  {{ post.content }}
  </div>
  <p class="meta">
    <a href="{{post.url}}#disqus_thread" data-disqus-identifier="{{post.id}}">comments</a>
    {% if post.tags != empty %}
      | Tags: {{ post.tags | array_to_sentence_string }}
    {% endif %}
  </p>
</div>
