<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Finagle</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="/stylesheets/master.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/stylesheets/color.css" media="screen" rel="stylesheet" type="text/css" />

  <script src="/javascripts/prototype.js" type="text/javascript"></script>
  <script src="/javascripts/effects.js" type="text/javascript"></script>
  <script src="/javascripts/typo.js" type="text/javascript"></script>
  <script src="/javascripts/lucid.js" type="text/javascript"></script>

  <link href="/feed/atom.xml" rel="alternate" type="application/atom+xml" />
</head>
<body class="c-ms cs0 fixed">
  <div id="wrapper">
    <div id="w2">
      <div class="clearfix" id="w3">
        <div class="clearfix" id="header">
          <div id="logo">
            <!-- <a href="/"><img src="/images/logo.png" alt="" /></a> -->
            <h1 class="pageTitle">
              <a href="/">Finagle</a>
              <!-- <span class='subtitle'>&mdash; a weblog</span> -->
            </h1>
            <h2>Changing the world would be easier if I had the source code.</h2>
          </div>
          <div id="search"></div>
        </div>
        {{ content }}
        <div id="footer">
          <p>
            <a href="http://validator.w3.org/check/referer" title="Validates this page">XHTML</a>,
            <a href="http://jigsaw.w3.org/css-validator/check/referer?warning=no&amp;profile=css2" title="Validates the CSS on this page.">CSS</a>.
            Template by <a href="http://www.soniciq.com" title="SonicIQ - Website Development">SonicIQ</a>.
            Blog comments powered by <a href="http://disqus.com" class="dsq-brlink">Disqus</a>.
          </p>
        </div>
      </div>
    </div>
  </div>

  {% include google_analytics.html %}
</body>
</html>
